
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1497344763616'); /* IE9*/
  src: url('iconfont.eot?t=1497344763616#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497344763616') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497344763616') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497344763616#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-touxiang:before { content: "\e649"; }

.icon-gouwuche:before { content: "\e639"; }

.icon-xihuan-copy:before { content: "\e607"; }

.icon-zixun:before { content: "\e6bf"; }

.icon-xinxi:before { content: "\e686"; }

